<!DOCTYPE html>
<html>
  <head>
    <title>MicroRedit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <%= debug(params) if Rails.env.development? %>
    <div class="flash_message">
      <p>
        <%flash.each do |key,value|%>
          <p class="flash <%=key%>"> <%= value %></p>
        <% end %>
      </p>
    </div>
    <%= yield %>
  </body>
</html>
